@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  background-color: #E0E0E0;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Roboto';
  font-weight: 300;
}

.headerContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #494D4F;
  height: 8em;
}

.header {
  flex: 0 0 20%;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
  border-right: 1px solid #FFFFFF;

  &:hover {
    cursor: pointer;
  }
}

.subredditHeader {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 2em;
  margin-top: 0.3em;
}

.inputSubredditContainer {
  flex: 0 1 50%;
  text-align: center;
  margin-bottom: 0.5em;
}

.inputText {
  display: inline-flex;
  vertical-align: bottom;

  .material-icons {
    padding-right: 10px;
  }
}

.randomSubreddit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 10%;
  color: #FFFFFF;
  text-align: center;
  font-size: 2em;
  height: 100%;

  &:hover {
    background-color: lighten(#494D4F, 10%);
    cursor: pointer;
  }
}