.redditContent {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.post {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2% 10% 0 10%;
  padding: 1em;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid darken(#E0E0E0, 10%);
  box-shadow: 0 2px 2px darken(#E0E0E0, 10%);
}

.postTitle {
  flex: 0 1 100%;
  margin-bottom: 1em;

  a {
    text-decoration: none;
    color: #494D4F;
    font-size: 1.3em;

    &:hover {
      color: lighten(#494D4F, 10%);
    }
  }
}

.postPreview {
  width: 450px;
  height: 450px;
}

.giphy {
  max-width: 45em;
  max-height: 20em;
}

.giphyTextArea {
  width: 90%; 
}